@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300&display=swap');

*{
    text-decoration: none;
}

body{
    font-family: Quicksand, sans-serif;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2{
    font-family: Aboreto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    text-align: center;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;

  }
  
li {
    display: inline-block;
    
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/* Hero image and cover text */

#breathing-header{
    height:600px;
    background: url("../images/breathing-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* TEXT and VIDEO */

.parent {
    border: transparent;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
  }
  .child {
    display: inline-block;
    border: transparent;
    padding: 1rem 1rem;
    vertical-align: middle;
    
  }

ul.a {
    list-style-type: circle;
    color: #111;
  }
  

/* Breathwork Welcome */

#welcome {
    margin: 10px 0;
    text-align: center;
    font-size: 280%;
}

/* Footer */

footer{
    height: 150px;
}

.social-networks{
    
    text-align: center;

}

.social-networks li{
    display: inline-block;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #club-ethos{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }

    #club-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo{
        column-count: 3;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}